<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <form method="post" action="/post">
         <label for="">Username</label> &nbsp;&nbsp;&nbsp;
        <input placeholder="Username" type="text" name="username" id=""> <br><br>
        <label for="">Content</label> &nbsp;&nbsp;&nbsp;<br><br>
        <textarea  placeholder="Content" name="content" id="" cols="30" rows="10"></textarea> <br><br>
        <input type="submit" value="SUBMIT">
    </form>
    
</body>
</html>