<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Username</title>
</head>
<body>

    <h1>ID IS:: <%= result[0].id  %></h1>
    <form method="post" action="/user/<%= result[0].id%>?_method=PATCH">
        <label for="">Username:</label> &nbsp;&nbsp;
        <input type="textbox" value="<%= result[0].username %>"name="username"> <br><br>
        <label for="">Password::</label> &nbsp;&nbsp;
        <input type="password" placeholder="Enter Password" name="password"> <br> <br>
        <button type="submit">Submit Edit</button>
    </form>
    
</body>
</html>